body{
  background-color: lightslategrey
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}

.form-input {
  width: 500px;
  padding: 2px;
  margin-bottom: 3px
}

input, select, textarea {
  height: 100px;
  width: 100%;
}

select, input{
  height: 50px;
}

/* p {
  background: red
} */

button {
  margin-top: 30px
}

tr:nth-child(even) {
  background-color: #eee;
}
tr:nth-child(odd) {
 background-color: #fff;
}
th {
  background-color: black;
  color: white;
  width: 300px;
}
th#title {
  width: 60px
}
th#description {
  width: 250px
}
th#client {
  width: 100px
}
th#priority {
  width: 100px
}
th#date {
  width: 100px
}
th#area {
  width: 100px
}