<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Feature Request</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
  </head>
  <body>
    <div class="container">
      <div>
        <h1> Feature Request</h1>
        <p>Please fill this form to save user's Feature Request</p>
        <p>See Submitted Requests <a href="/feature-request">Here</a></p>

        <div class="form-input title">
          <p>Title: </p>
          <input type="text" id="title" placeholder="Enter request title" />
          <small id="title-error">Enter a valid title for feature request</small>
        </div>
        <div class="form-input description">
          <p>Description: </p>
          <textarea type="text" id="description" ></textarea>
          <small id="description-error">Enter a valid description for feature request</small>
        </div>
        <div class="form-input client">
          <p>Cleint: </p>
          <select type="text" id="client">
            <option value=1>Client A</option>
            <option value=2>Client B</option>
            <option value=3>Client C</option>
          </select>
        </div>
        <div class="form-input priority">
          <p>Client Priority: </p>
          <input type="number" id="priority" />
          <small id="priority-error">Cleint Priority cannot be empty</small>
        </div>
        <div class="form-input date">
          <p>Target Date: </p>
          <input type="date" id="date" />
          <small id="date-error">Enter a valid Target Date; at least 1 day from now</small>
        </div>
        <div class="form-input product-area">
          <p>Product Area: </p>
          <select type="text" id="area">
            <option>Policies</option>
            <option>Billing</option>
            <option>Claims</option>
            <option>Reports</option>
          </select>
        </div>
      
        <button id="submit">Submit</button>
      </div>
    </div>
    <div class="screen-cover">
      <div class="alert">
        <p>Your request has been submitted successfully!</p>
        <button id="dismiss">OK</button>
      </div>
    </div>
  </body>
</html>